<h1>Form for creating a new user</h1>

<!--
<form action="/users" method="post" accept-charset="UTF-8">
  User Name: <input type="text" name=user[username]><br>
  Email:     <input type="email" name=user[email]><br>
  Password:  <input type="password" name=user[password]><br>
  <input type="submit" value="Submit">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
</form>
-->

<!--
<%= form_tag("/users", method: "post") do %>
  User Name: <%= text_field_tag "username" %> <br>
  Email:     <%= email_field_tag "email" %> <br>
  Password:  <%= password_field_tag "password" %> <br>
  <%= submit_tag "Submit" %>
<% end %>
-->

<%= form_for @user do |f| %>
  User Name: <%= f.text_field :username %> <br>
  Email:     <%= f.email_field :email %> <br>
  Password:  <%= f.password_field :password %> <br>
  <%= f.submit "Submit" %>
  
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>