<!DOCTYPE html>
<html>
<head>
  <title>FakebookApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
    </script>
  <![endif]-->
</head>
<body>
  <%render html: "bla"%>
  <% if 1==0 %>
    <%= render partial: "shared/navbar" %>
  <% else %>
    <%= render partial: "shared/login" %>
  <% end %>

  <%= yield %>

</body>
</html>

