<% provide(:title, 'Index Events') %>

<h1>Event index:</h1>

<p>Past Events:</p>
<% @past_events.each do |event| %>
  <li>
    <p><%= link_to 'Event', event %> created by <%= User.find(event.creator_id).name %>:</p>
    <p>Date: <%= event.date %> || Location: <%= event.location %></p>
    <p>Description: <%= event.description %></p>
  </li>
<% end %>

<p>Future Events:</p>
<% @future_events.each do |event| %>
  <li>
    <p><%= link_to 'Event', event %> created by <%= User.find(event.creator_id).name %>:</p>
    <p>Date: <%= event.date %> || Location: <%= event.location %></p>
    <p>Description: <%= event.description %></p>
  </li>
<% end %>

<%= link_to "Create an event", new_event_path %><br>
<%= link_to "User Page", root_path %>