<section class="box">
  <div id="cover" class="row">

    <!-- Cover Image -->
    <div class="cover-img">
      <%= image_tag(@user.cover_url, alt: "Cover Picture") %>
    </div>
    <!-- Profile Image -->
    <div class="profile-img">
      <%= image_tag(@user.picture_url, alt: "Profile Picture") %>
    </div>
    <!-- Cover Name -->
    <div class="cover-name">
      <h1><%= @user.full_name %></h1>
    </div>

  </div>

  <div class="row">
    <nav id="main-nav">
      <ul class="nav">
        <%= content_tag :li,
            class: "nav_link" do %>
          <%= link_to "Timeline", user_path(@user) %>
        <% end %><!--
        --><%= content_tag :li,
               class: "nav_link" do %>
          <%= link_to "About", user_path(@user) %>
        <% end %><!--
        --><%= content_tag :li,
               class: "nav_link" do %>
          <%= link_to photo_path(@user) do %>
            Photos
          <% end %>
        <% end %><!--
        --><%= content_tag :li,
               class: "nav_link" do %>
          <%= link_to friends_path(@user) do %>
            Friends<small>(<%= @user.friends.count %>)</small>
          <% end %>
        <% end %>
      </ul>
      <%= render_add_friend_or_unfriend(@user) %>
    </nav>
  </div>
</section>
