<!-- Navbar -->
<nav id="top-nav" class="navbar navbar-expand-md navbar-dark">
  <div class="container">

    <div class="navbar-brand">
      <%= link_to timeline_path(current_user) do %>
        <span class="nav-brand-word">Fakebook</span>
      <% end %>
    </div>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon navbar-toggle"></span>
    </button>
    <!-- end navbar-header -->

    <!-- Collapsible Nav -->
    <div id="navbarSupportedContent" class="collapse navbar-collapse navbar-collapse-spacing">
      <!-- Search Bar -->
      <%= form_tag users_path, :method => :get, class: "form-inline" do %>
        <div class="input-group navbar-search">
          <%= search_field_tag(:search, params[:search], class:"form-control", placeholder:"Search") %>
          <div class="input-group-btn">
            <button class="btn btn-light btn-search" type="submit"><i class="fa fa-search"></i></button>
          </div>
        </div>
      <% end %>

      <!-- Requests, Username, and Sign Out Links -->
      <ul class="navbar-nav ml-auto">

        <% if current_user.pending_requests.any? %>
          <li class="nav-element">
            <div id="notifications">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span>
                  <%= pluralize(current_user.pending_requests.count, "Request") %>
                </span>
              </a>
              <ul class="dropdown-menu">
                <% current_user.pending_requests.each do |request| %>
                  <li>
                    <div class="request">
                      <div class="request-image">
                        <%= link_to request.user do %>
                          <%= image_tag request.user.picture_url %>
                        <% end %>
                      </div>
                      <div class="request-name">
                        <%= link_to request.user do %>
                          <%= request.user.full_name %>
                        <% end %>
                      </div>
                      <div class="request-buttons">
                        <%= link_to "Accept", friend_request_path(request.id), :method => :patch, class: "btn btn-success" %>
                        <%= link_to "Decline", friend_request_path(request.id, from_user: request.user, to_user: current_user), :method => :delete, class: "btn btn-danger" %>
                      </div>
                    </div>
                  </li>
                <% end %>
              </ul>
            </div>
          </li>
        <% end %>

        <li class="nav-element nav-element-right">
          <%= link_to authenticated_root_path(current_user) do %>
            <span class="fa fa-user nav-icon"></span>
            <%= current_user.full_name %>
          <% end %>
        </li>

        <li class="nav-element nav-element-right">
          <%= link_to destroy_user_session_path, :method => :delete do %>
            <span class="fa fa-sign-out nav-icon"></span>
            Sign Out
          <% end %>
        </li>
      </ul>
    </div><!-- end collapsible nav -->

  </div><!-- end container -->
</nav><!-- end navbar -->