<h3>Index</h3>
<br>

<% if @kittens.empty? %>
  <p>No Kittens.</p>
<% else %>
  <% @kittens.each do |kitten| %>
    <p>Kitten <%= kitten.name %></p>
    <p>Age: <%= kitten.age %>, Cuteness: <%= kitten.cuteness %>, Softness: <%= kitten.softness %></p>
    <%= link_to 'Show', kitten %>
    <%= link_to 'Edit', edit_kitten_path(kitten) %>
    <%= link_to 'Destroy', kitten, method: :delete, data: { confirm: 'Are you sure?' } %>
    <br><br>
  <% end %>
<% end %>

<%= link_to 'Create a New Kitten', new_kitten_path %>