<h3>Kitten <%= @kitten.name %></h3>
<br>

<ul>
  <li>Age: <%= @kitten.age %></li>
  <li>Cuteness: <%= @kitten.cuteness %></li>
  <li>Softness: <%= @kitten.softness %></li>
</ul>

<%= link_to 'Index', kittens_path %>
