<!-- Navbar -->
<nav id="top-nav" class="navbar navbar-expand-md">
  <div class="container">

    <div class="navbar-brand">
      <%= link_to authenticated_root_path(current_user) do %>
        <span class="nav-brand-word">Fakebook</span>
      <% end %>
    </div>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- end navbar-header -->

    <!-- Collapsible Nav -->
    <div id="navbarSupportedContent" class="collapse navbar-collapse">
      <!-- Search Bar -->
      <%= form_tag authenticated_root_path, :method => :get, class: "form-inline" do %>
        <div class="input-group">
          <%= search_field_tag(:search, params[:search], class:"form-control", placeholder:"Search") %>
          <div class="input-group-btn">
            <button class="btn btn-light" type="submit"><i class="fa fa-search"></i></button>
          </div>
        </div>
      <% end %>
      <!-- Requests, Username, and Sign Out Links -->
      <ul class="navbar-nav ml-auto my-0">
        <li class="nav-element">
          <%= link_to authenticated_root_path(current_user) do %>
            <span class="fa fa-user nav-icon"></span>
            <%= current_user.full_name %>
          <% end %>
        </li>
        <li class="nav-element">
          <%= link_to destroy_user_session_path, :method => :delete do %>
            <span class="fa fa-sign-out nav-icon"></span>
            Sign Out
          <% end %>
        </li>
      </ul>
    </div><!-- end collapsible nav -->

  </div><!-- end container -->
</nav><!-- end navbar -->