<!DOCTYPE html>
<html>
<head>
  <title>FlightBooker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container-fluid">
		<% flash.each do |message_type, message| %>
		<div class="alert alert-<%= message_type%> alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<ul>
				<li>
					<%= message %>
				</li>
			</ul>
			</div>
		<% end %>
		<%= yield %>
		
	</div>

</body>
</html>
