<h1>Flight#index</h1>

<div class="row search">

	<div class="col-sm-6 col-sm-offset-3 well">
		<h3>Search for a flight</h3>

			<%= form_tag(flights_path, method: "get") do %>

				<div class="form-group col-md-6 rm-p">
					<%= label_tag(:from, "Departure Airport:") %>
					<%= select_tag(:from, options_for_select(@airports), class: "form-control") %>
				</div>

				<div class="form-group col-md-6">
					<%= label_tag(:to, "Destination Airport:") %>
					<%= select_tag(:to, options_for_select(@airports), class: "form-control") %>
				</div>

				<div class="form-group col-md-6 rm-p">
					<%= label_tag(:departure_date, "Date:") %>
					<%= select_tag(:departure_date, options_for_select(@dates), class: "form-control") %>
				</div>

				<div class="form-group col-md-6">
					<%= label_tag(:passengers, "Number of Passengers:") %>
					<%= select_tag(:passengers, options_for_select(@passengers), class: "form-control") %>
				</div>

				<%= submit_tag "Search", class: "btn btn-primary col-md-4 col-md-offset-8" %>
			<% end %>
	</div>
</div>
