<div class="container">

  <%= render partial: "users/shared/cover" %>

  <main id="profile">
    <!-- About Header -->
    <div class="row">
      <div class="box box-header header-title col">
        <header>
          <h2>About</h2>
            <%= link_to "Back", :back,
                 class: "btn btn-small btn-primary right" %>
        </header>
      </div>
    </div><!-- end row -->

    <!-- About Body -->
    <div class="row">
      <section class="box box-body padding-top padding-bottom col">

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>

          <div class="col">
            <h3>User Information</h3><br />
            <dl class="about-list">
              <dt><%= f.label :first_name %></dt>
              <dd><%= f.text_field :first_name, autofocus: true %></dd>
              <dt><%= f.label :last_name %></dt>
              <dd><%= f.text_field :last_name %></dd>
              <dt>Email</dt>
              <dd><%= f.email_field :email %>
                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                <% end %></dd>

              <dt><%= f.label :password %></dt>
              <dd><%= f.password_field :password, autocomplete: "off" %><i> &nbsp;(leave blank if you don't want to change it)</i>
                <% if @minimum_password_length %><br />
                  <em><%= @minimum_password_length %> characters minimum</em>
                <% end %></dd>
              <dt><%= f.label :password_confirmation %></dt>
              <dd><i>&nbsp;&nbsp;</i><%= f.password_field :password_confirmation, autocomplete: "off" %></dd>

              <dt><%= f.label :current_password %></dt>
              <dd><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i><%= f.password_field :current_password, autocomplete: "off" %><i> &nbsp;(we need your current password to confirm your changes)</i></dd>

              <dt><%= f.label :about %></dt>
              <dd><%= f.text_field :about, class: "about-field" %></dd>

              <div class="actions">
                <%= f.submit "Update" %>
              </div>
            </dl>
          </div>

          
        <% end %>

        <h3>Cancel my account</h3>

        <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
      </section>
    </div><!-- end row -->

  </main>

</div>
