<div class="container">

  <%= render partial: "users/shared/cover" %>

  <main id="profile">
    <!-- About Header -->
    <div class="row">
      <div class="box box-header header-title col">
        <header>
          <h2>About</h2>
            <%= link_to "Edit Profile", edit_user_registration_path(@user),
                 class: "btn btn-small btn-primary right" if @user==current_user %>
        </header>
      </div>
    </div><!-- end row -->

    <!-- About Body -->
    <div class="row">
      <section class="box box-body padding-top padding-bottom col">

        <div class="col">
          <h3>User Information</h3>
          <dl class="about-list">
            <dt>First Name</dt>
            <dd><%= @user.first_name %></dd>
            <dt>Last Name</dt>
            <dd><%= @user.last_name %></dd>
            <dt>Email</dt>
            <dd><%= @user.email %></dd>
            <dt>About Me</dt>
            <dd><%= @user.about %></dd>
          </dl>
        </div>

      </section>
    </div><!-- end row -->

  </main>

</div>
